* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    display:flex;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

@font-face{
    font-family: norse-font;
    src: url(./fonts/Norse-Bold.otf);
}

.sidebar{
    background-image: url("./images/ice-sidebar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
}

.logo {
    font-family: norse-font, sans-serif;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    font-size: 60pt;
    line-height: 60pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 25%;
}

.logo img{
    height:120px;
    width: auto;
}

.logotext{
    position:relative;
    top: 10%;
}

.attribution{
    position: relative;
    font-size: 10pt;
    top: 80%;
}

.attribution > a {
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: rgb(249,250,251);
}

.infodump{
    font-size: 18pt;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 150px;
    min-width: 700px;
}

.form-container {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(214, 213, 213);
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-header {
    margin-left: 50px;
    font-size: 20pt;
}

.form-fields{
    display: flex;
}

.form-col > label{
    font-size: 8pt;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-col > input {
    border-style: solid;
    border-color: #E5E7EB;
    width: 250px;
    padding: 5px;
}

.form-col > input:invalid{
    border-color: red;
}

.form-col > input:focus{
    border-color: rgb(51, 51, 249);
    box-shadow: 2px 2px 2px rgb(214, 213, 213);
}

.left-form-col {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.right-form-col {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-footer {
    margin-left: 50px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

input.create-account{
    background-color: rgb(88, 182, 212);
    border-style: none;
    border-radius: 5px;
    padding: 10px 35px 10px 35px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    width: 200px;

}